body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f8fa;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    font-size: 24px;
}


.article-list {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f6f8fa;
    font-size: 25px;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.article-item button:hover {
    background-color: #a71d2a;
}

.total {
    font-size: 50px;
    font-weight: bold;
    color: #333333;
    text-align: right;
    margin-bottom: 30px;
}

.right-panel {
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.button {
    padding: 15px;
    font-size: 25px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.button:hover {
    background-color: #0056b3;
}

.add-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.bottom-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #ffffff;
}

.bottom-button {
    flex: 1;
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.bottom-button.menu {
    background-color: #ffc107;
    font-size: 30px;
}
.bottom-button.success {
    background-color: #28a745;
    font-size: 30px;
}
.bottom-button.danger {
    background-color: #dc3545;
    font-size: 30px;
}
.bottom-button:hover {
    opacity: 0.8;
}